.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  
    @media screen and (min-width: 768px) {
      max-width: 768px;
      padding: 0 19px;
    }
  
    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      padding: 0 229px;
    }
  }