:root {
  // Color variables
  --primary-text-color: #2e2520;
  --form-text-color: rgba(171, 129, 108, 0.5);
  --mob-menu-hover-color: #876655;
  --accent-color: #ab816c;
  --text-white-color: #ffffff;
  --icon-location-color: #000000;
  --program-icon-color: #674d40;
  --background-color: #fef3e4;
  --bg-field-color: #ffffff;
  --main-background-color:#FFFFF9;
  //   Шрифты
  --font-montserrat: 'Montserrat';
  --font-caveat-brush: 'Caveat Brush';

  // Time variables
 --animation-effect: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
