<div class="mobile-menu" data-menu>
    <nav class="menu_navigation">
        <a class="menu_logo " href="">
            <svg class="menu_logo-icon" width="190" height="85">
                <use href="./images/sprite.svg#icon-main-logo-desktop"></use>
            </svg>
        </a>

        <ul class="menu-nav list">
            <li class="menu-nav__item">
                <a href="" class="menu-nav__link ">About us</a>
            </li>
            <li class="menu-nav__item">
                <a href="" class="menu-nav__link">Program</a>
            </li>
            <li class="menu-nav__item">
                <a href="" class="menu-nav__link">Reviews</a>
            </li>
            <li class="menu-nav__item">
                <a href="" class="menu-nav__link">Contacts</a>
            </li>
        </ul>
    </nav>
</div>