<footer class="footer">
  <div class="container">
    <ul class="list footer__social-list">
      <li class="footer__social-item">
        <a href="https://twitter.com/?lang=ru" class="social-link" target="_blank" rel="noopener noreferrer">
          <svg class="social-icon" width="24" height="19">
            <use class="icon" href="./images/sprite.svg#icon-twitter-desktop"></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-item">
        <a href="https://www.instagram.com" class="social-link" target="_blank" rel="noopener noreferrer">
          <svg class="social-icon" width="19" height="19">
            <use class="icon" href="./images/sprite.svg#icon-instagram-desktop"></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-item">
        <a href="https://www.facebook.com/" class="social-link" target="_blank" rel="noopener noreferrer">
          <svg class="social-icon" width="10.27" height="19">
            <use class="icon" href="./images/sprite.svg#icon-facebook-desktop"></use>
          </svg>
        </a>
      </li>
    </ul>


    <ul class="list footer__connection-list">
      <li class="footer__connection-item">
        <a class="link footer__address" href="tel:+9102228855">
          <svg width="13" height="13">
            <use href="./images/sprite.svg#icon-phone-desktop"></use>
          </svg>
          <span class="footer__connection-text">(910)222-8855</span>
        </a>
      </li>
      <li class="footer__connection-item">

        <a class="link footer__address" target="_blank" rel="noopener noreferrer" href="https://www.google.com/maps/place/The+Doughnut+Project/@40.7307621,
          -74.0034695,16z/data=!3m1!5s0x89c25993a9e238dd:0xe153f3f52889c5c7!4m5!3m4!
          1s0x89c25993a9e3bb8d:0xe7d2313531697c45!8m2!3d40.7311971!4d-74.0035553?hl=ru">
          <svg width="11" height="14.44">
            <use href="./images/sprite.svg#icon-location-desktop"></use>
          </svg>
          <span class="footer__connection-text"> New York</span>
        </a>
      </li>
    </ul>

  </div>
</footer>