<footer class="footer">
    <div class="container">
      <div class="footer__social-icons">

        <a href="" class="social-link">
          <svg class="social-icon" width="24" height="19">
            <use class="icon" href="./images/sprite.svg#icon-twitter-desktop"></use>
          </svg>
        </a>

        <a href="" class="social-link">
          <svg class="social-icon" width="19" height="19">
            <use class="icon" href="./images/sprite.svg#icon-instagram-desktop"></use>
          </svg>
        </a>
        
        <a href="" class="social-link">
          <svg class="social-icon" width="10.27" height="19">
            <use class="icon" href="./images/sprite.svg#icon-facebook-desktop"></use>
          </svg>
        </a>

      </div>
      <div class="footer__connection">
        <div class="footer__connection-tel">
          <a class=" link" href="tel:+9102228855">
            <svg width="13" height="13">
              <use href="./images/sprite.svg#icon-phone-desktop"></use>
            </svg>
            <span class="footer__connection-text">(910)222-8855</span>
          </a>
        </div>
        <div class=" footer__connection-local">
          <a class="link" href="">
            <svg width="11" height="14.44">
              <use href="./images/sprite.svg#icon-location-desktop"></use>
            </svg>
            <span class="footer__connection-text"> New York</span>

          </a>
        </div>
      </div>
    </div>
    </div>
  </footer>
