<section class="section hero">
    <div class="container hero__container">
        <h1 class="hero__text">
            Donut Masterclass with the Donut King
        </h1>
        <p class="hero__subtext">
            Hosted by Eva Green
        </p>
            <a class="button hero__link" href="#reg">Register</a>  
        <div class="hero__socials">
            <ul class="list hero__social-list">
                <li class="hero__social-item">
                    <a href="" class="social-link">
                        <svg class="social-icon" width="24" height="19">
                            <use class="icon" href="./images/sprite.svg#icon-twitter-desktop"></use>
                        </svg>
                    </a>
                </li>
                <li class="hero__social-item">
                    <a href="" class="social-link">
                        <svg class="social-icon" width="19" height="19">
                            <use class="icon" href="./images/sprite.svg#icon-instagram-desktop"></use>
                        </svg>
                    </a>
                </li>
                <li class="hero__social-item">
                    <a href="" class="social-link">
                        <svg class="social-icon" width="10.27" height="19">
                            <use class="icon" href="./images/sprite.svg#icon-facebook-desktop"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>