<section class="section program" id="program">
    <div class="container program__container">
        <div class="program__elements">
            <h2 class="section-title section-title__program">
                Program
            </h2>
            <p class="program__text">
                Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!
            </p>
            <ul class="list program-list">
                <li class="program-list__item">
                    A stand up history of donuts
                </li>
                <li class="program-list__item">
                    Make 3 donut flavors of your choice
                </li>
                <li class="program-list__item">
                    Enjoy all-you-can-eat donuts
                </li>
                <li class="program-list__item">
                    Cocktail pairings and coffee included
                </li>
                <li class="program-list__item">
                    Photoshoot by professional photographer
                </li>
                <li class="program-list__item">
                    Secret receipt of cooking from Eva
                </li>
                <li class="program-list__item">
                    All products are included in the price
                </li>
            </ul>
            <!-- <span id="dots"></span> -->
            <span id="text">
                <p>
                    Come with your dear people and friends
                    and you will spend an unforgettable time and
                    will become a real professional in donuts cooking!
                </p>
            </span>
            <button id="toggle">Read More</button>
        </div>
        <div class="program__elements program__elements--donuts">
            <ul class="list grid-list">
                <li class="grid-list__item">
                    <div class="grid-list__item-container">
                        <picture class="grid-list__picture">
                            <source
                                srcset="./images/desktop/program/program-desktop-1x-1.png 1x, ./images/desktop/program/program-desktop-2x-1.png 2x"
                                media="(min-width: 1280px)" type="image/png">
                            <source
                                srcset="./images/tablet/program/program-tablet-1x-1.png 1x, ./images/tablet/program/program-tablet-2x-1.png 2x"
                                media="(min-width: 768px)" type="image/png">
                            <source
                                srcset="./images/mobile/program/program-mobile-1x-1.png 1x, ./images/mobile/program/program-mobile-2x-1.png 2x"
                                media="(min-width: 320px)" type="image/png">
                            <img src="./images/desktop/program/program-desktop-1x-1.png" alt="" width="97">
                        </picture>
                        <h3 class="component-title">Type of the event</h3>
                        <p class="grid-list__text">Cooking classes</p>
                        <svg class="grid-list__icon">
                            <use href="./images/sprite.svg#icon-program-desktop-1"></use>
                        </svg>
                    </div>
                </li>
                <li class="grid-list__item">
                    <div class="grid-list__item-container">
                        <picture class="grid-list__picture">
                            <source
                                srcset="./images/desktop/program/program-desktop-1x-2.png 1x, ./images/desktop/program/program-desktop-2x-2.png 2x"
                                media="(min-width: 1280px)" type="image/png">
                            <source
                                srcset="./images/tablet/program/program-tablet-1x-2.png 1x, ./images/tablet/program/program-tablet-2x-2.png 2x"
                                media="(min-width: 768px)" type="image/png">
                            <source
                                srcset="./images/mobile/program/program-mobile-1x-2.png 1x, ./images/mobile/program/program-mobile-2x-2.png 2x"
                                media="(min-width: 320px)" type="image/png">
                            <img src="./images/desktop/program/program-desktop-1x-2.png" alt="" width="97">
                        </picture>
                        <h3 class="component-title">Number of guests</h3>
                        <p class="grid-list__text">1 to 20</p>
                        <svg class="grid-list__icon">
                            <use href="./images/sprite.svg#icon-program-desktop-2"></use>
                        </svg>
                    </div>
                </li>
                <li class="grid-list__item">
                    <div class="grid-list__item-container">
                        <picture class="grid-list__picture">
                            <source
                                srcset="./images/desktop/program/program-desktop-1x-3.png 1x, ./images/desktop/program/program-desktop-2x-3.png 2x"
                                media="(min-width: 1280px)" type="image/png">
                            <source
                                srcset="./images/tablet/program/program-tablet-1x-3.png 1x, ./images/tablet/program/program-tablet-2x-3.png 2x"
                                media="(min-width: 768px)" type="image/png">
                            <source
                                srcset="./images/mobile/program/program-mobile-1x-3.png 1x, ./images/mobile/program/program-mobile-2x-3.png 2x"
                                media="(min-width: 320px)" type="image/png">
                            <img src="./images/desktop/program/program-desktop-1x-3.png" alt="" width="97">
                        </picture>
                        <h3 class="component-title">Time of the event</h3>
                        <p class="grid-list__text">18:30 (2.5 hours)</p>
                        <svg class="grid-list__icon">
                            <use href="./images/sprite.svg#icon-program-desktop-3"></use>
                        </svg>
                    </div>
                </li>
                <li class="grid-list__item">
                    <div class="grid-list__item-container">
                        <picture class="grid-list__picture">
                            <source
                                srcset="./images/desktop/program/program-desktop-1x-4.png 1x, ./images/desktop/program/program-desktop-2x-4.png 2x"
                                media="(min-width: 1280px)" type="image/png">
                            <source
                                srcset="./images/tablet/program/program-tablet-1x-4.png 1x, ./images/tablet/program/program-tablet-2x-4.png 2x"
                                media="(min-width: 768px)" type="image/png">
                            <source
                                srcset="./images/mobile/program/program-mobile-1x-4.png 1x, ./images/mobile/program/program-mobile-2x-4.png 2x"
                                media="(min-width: 320px)" type="image/png">
                            <img src="./images/desktop/program/program-desktop-1x-4.png" alt="" width="97">
                        </picture>
                        <h3 class="component-title">The host speaks</h3>
                        <p class="grid-list__text">English, French</p>
                        <svg class="grid-list__icon">
                            <use href="./images/sprite.svg#icon-program-desktop-4"></use>
                        </svg>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>