<section>
    <h2>
        Program
    </h2>
   
    <p>
        Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!
    </p>
    <ul class="list program-list">
        <li class="program-list__item">
            A stand up history of donuts
        </li>
        <li class="program-list__item">
            Make 3 donut flavors of your choice
        </li>
        <li class="program-list__item">
            Enjoy all-you-can-eat donuts
        </li>
        <li class="program-list__item">
            Cocktail pairings and coffee included
        </li>
        <li class="program-list__item">
            Photoshoot by professional photographer
        </li>
        <li class="program-list__item">
            Secret receipt of cooking from Eva
        </li>
        <li class="program-list__item">
            All products are included in the price
        </li>
    </ul>
    
    <p>
        Come with your dear people and friends
        and you will spend an unforgettable time and
        will become a real professional in donuts cooking!
    </p>
    
    <ul class="list grid-list">
        <div class="grid-list__container">
            <li class="grid-list__item">
                <h3>Type of the event</h3>
                <p>Cooking classes</p>
            </li>
        </div>
        <div class="grid-list__container">
            <li class="grid-list__item">
                <h3>Number of guests</h3>
                <p>1 to 20</p>
            </li>
        </div>
        <div class="grid-list__container">
            <li class="grid-list__item">
                <h3>Time of the event</h3>
                <p>18:30 (2.5 hours)</p>
            </li>
        </div>
        <div class="grid-list__container">
            <li class="grid-list__item">
                <h3>The host speaks</h3>
                <p>English, French</p>
            </li>
        </div>
    </ul>
</section>

