<article class="article"> 
    <div class="container">
        <h2 class="title-h2 reviews-title">Reviews</h2>
        <div class="carousel" id="carousel"> 
            <article class="article-contant">
                <picture>
                    <source srcset="./images/mobile/reviews/reviews-photo-mobile-1x.jpg, 
                                    ./images/mobile/reviews/reviews-photo-mobile-2x.jpg"
                                    media="(max-width: 767px)" type="image/jpg">
                    <img class="article-contant__image" src="./images/mobile/reviews/reviews-photo-mobile-1x.jpg" alt="" width="116"> 
                </picture>
                <img class="reviews__stars" src="./images/desktop/reviews/reviews-rate-4stars-desktop-1x.png" alt="">
                <h3 class="article-contant__title">John</h3>
            </article>


            <article class="article-contant">
                <img class="article-contant__image" src="./images/desktop/reviews/reviews-photo-desktop-1x-2.jpg" alt="">
                <img class="reviews__stars" src="./images/desktop/reviews/reviews-rate-5stars-desktop-1x.png" alt="">
                <h3 class="article-contant__title">Will</h3>
            </article>


            <article class="article-contant">
                <img class="article-contant__image" src="./images/desktop/reviews/reviews-photo-desktop-1x-3.jpg" alt="">
                <img class="reviews__stars" src="./images/desktop/reviews/reviews-rate-4stars-desktop-2x.png" alt="">
                <h3 class="article-contant__title">Elisabeth</h3>
            </article>


            <article class="article-contant">
                <img class="article-contant__image" src="./images/desktop/reviews/reviews-photo-desktop-1x-1.jpg" alt="">
                <img class="reviews__stars" src="./images/desktop/reviews/reviews-rate-4stars-desktop-1x.png" alt="">
                <h3 class="article-contant__title">John</h3>
            </article>


            <article class="article-contant">
                <img class="article-contant__image" src="./images/desktop/reviews/reviews-photo-desktop-1x-2.jpg" alt="">
                <img class="reviews__stars" src="./images/desktop/reviews/reviews-rate-5stars-desktop-1x.png" alt="">
                <h3 class="article-contant__title">Will</h3>
            </article>


            <article class="article-contant">
                <img class="article-contant__image" src="./images/desktop/reviews/reviews-photo-desktop-1x-3.jpg" alt="">
                <img class="reviews__stars" src="./images/desktop/reviews/reviews-rate-4stars-desktop-2x.png" alt="">
                <h3 class="article-contant__title">Elisabeth</h3>
            </article>
        </div>
        
        <div class="reviews" data-reviews>
            <p class="article-contant__text article-contant__text--active" data-slide="0">Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first
                time in the kitchen!<br>
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                to everyone!</p>  
            <p class="article-contant__text" data-slide="1">Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first
                time in the kitchen!<br>
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                to everyone!</p>  
            <p class="article-contant__text" data-slide="2">Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first
                time in the kitchen!<br>
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                to everyone!</p>  
            <p class="article-contant__text" data-slide="3">Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first
                time in the kitchen!<br>
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                to everyone!</p>   
            <p class="article-contant__text" data-slide="4">Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first
                time in the kitchen!<br>
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                to everyone!</p>
            <p class="article-contant__text" data-slide="5">Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first
                time in the kitchen!<br>
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                to everyone!</p>
        </div>

        <h3 data-slider-range></h3>
    </div>
</article>