<article class="article"> 
    <div class="container">
        <h2 class="title-h2 reviews-title">Reviews</h2>
        <div class="carousel" id="carousel"> 

            <article class="article-contant">
                <img class="article-contant__image" src="./images/desktop/reviews/reviews-photo-desktop-1x-1.jpg" alt=""
                >
                <img class="reviews__stars" src="./images/desktop/reviews/reviews-rate-4stars-desktop-1x.png" alt="">
                <h3 class="article-contant__title">John</h3>
                <p class="article-contant__text ">Last time I have visited a cooking course by Eva<br>
                    I was impressed with the way she explained everything<br>
                    to people. You can be sure you will manage to cook a delicious dish<br> even if it is your first
                    time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next<br> one and highly recommend it
                    to everyone!</p>
            </article>


            <article class="article-contant">
                <img class="article-contant__image" src="./images/desktop/reviews/reviews-photo-desktop-1x-2.jpg" alt=""
                   >
                   <img class="reviews__stars" src="./images/desktop/reviews/reviews-rate-5stars-desktop-1x.png" alt="">
                <h3 class="article-contant__title">Will</h3>
                <p class="article-contant__text ">Last time I have visited a cooking course by Eva<br>
                    I was impressed with the way she explained everything<br>
                    to people. You can be sure you will manage to cook a delicious dish<br> even if it is your first
                    time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next<br> one and highly recommend it
                    to everyone!</p>
            </article>


            <article class="article-contant">
                <img class="article-contant__image" src="./images/desktop/reviews/reviews-photo-desktop-1x-3.jpg" alt=""
                    >
                    <img class="reviews__stars" src="./images/desktop/reviews/reviews-rate-4stars-desktop-2x.png" alt="">
                <h3 class="article-contant__title">Elisabeth</h3>
                <p class="article-contant__text ">Last time I have visited a cooking course by Eva<br>
                    I was impressed with the way she explained everything<br>
                    to people. You can be sure you will manage to cook a delicious dish<br> even if it is your first
                    time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next<br> one and highly recommend it
                    to everyone!</p>
            </article>


            <article class="article-contant">
                <img class="article-contant__image" src="./images/desktop/reviews/reviews-photo-desktop-1x-1.jpg" alt=""
                    >
                    <img class="reviews__stars" src="./images/desktop/reviews/reviews-rate-4stars-desktop-1x.png" alt="">
                <h3 class="article-contant__title">John</h3>
                <p class="article-contant__text ">Last time I have visited a cooking course by Eva<br>
                    I was impressed with the way she explained everything<br>
                    to people. You can be sure you will manage to cook a delicious dish<br> even if it is your first
                    time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next<br> one and highly recommend it
                    to everyone!</p>
            </article>


            <article class="article-contant">
                <img class="article-contant__image" src="./images/desktop/reviews/reviews-photo-desktop-1x-2.jpg" alt=""
                    >
                    <img class="reviews__stars" src="./images/desktop/reviews/reviews-rate-5stars-desktop-1x.png" alt="">
                <h3 class="article-contant__title">Will</h3>
                <p class="article-contant__text ">Last time I have visited a cooking course by Eva<br>
                    I was impressed with the way she explained everything<br>
                    to people. You can be sure you will manage to cook a delicious dish<br> even if it is your first
                    time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next<br> one and highly recommend it
                    to everyone!</p>
            </article>


            <article class="article-contant">
                <img class="article-contant__image" src="./images/desktop/reviews/reviews-photo-desktop-1x-3.jpg" alt=""
                    >
                    <img class="reviews__stars" src="./images/desktop/reviews/reviews-rate-4stars-desktop-2x.png" alt="">
                <h3 class="article-contant__title">Elisabeth</h3>
                <p class="article-contant__text ">Last time I have visited a cooking course by Eva<br>
                    I was impressed with the way she explained everything<br>
                    to people. You can be sure you will manage to cook a delicious dish<br> even if it is your first
                    time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next<br> one and highly recommend it
                    to everyone!</p>
            </article>

        </div>
    </div>
</article>