.button{
    padding: 12px 45px;
    border-radius: 25px;
    font-size: 24px;
    font-family: var(--font-caveat-brush);
    color: var(--text-white-color);
  
    text-align: center;
    border:none;
  
    background-color: var(--accent-color);

    transition: color var(--transition-time) $cubic, background-color var(--transition-time) $cubic,
    fill var(--transition-time) $cubic;
  }

  .button:hover,
  .button:focus {
    color: var(--button-focus-color);
    background-color: var(--button-bg-color);
  }