.button{
    font-size: 18px;
    padding: 10px 57px;
    border-radius: 25px;
    font-family: var(--font-caveat-brush);
    color: var(--text-white-color);
  
    text-align: center;
    border:none;
    cursor: pointer;
  
    background-color: var(--accent-color);

    transition: var(--animation-effect);
    @media screen and (min-width: 1280px) {
    font-size: 24px;
    }
  }


  .button:hover,
  .button:focus{
    box-shadow: 0px 0px 10px 5px var(--accent-color);
    background-color: rgb(255, 255, 255);
    color: var(--accent-color);
  }