.social-icon {
   fill: var(--primary-text-color);
   transition: fill var(--transition-time) $cubic;
}

// .social-icon:hover,
// .social-icon:focus {
//    fill: rgba(238, 5, 5, 0.644);
// }

.social-link:not(:last-child) {
   margin-right: 12px;
}
