.contact {
    margin-bottom: 74px;

    @media screen and (min-width: 768px) and (max-width: 1279.98px) {
        margin-bottom: 37px;
    }

    @media screen and (max-width: 767.98px) {
        margin-bottom: 34px;
    }

    &__label {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 3.6;
        text-align: center;
    
        @media screen and (max-width: 1279.98px) {
            font-size: 16px;
            line-height: 4.06;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__form .button {
        cursor: pointer;
    }
    
    &__form-button {
        margin-right: auto;
        margin-left: auto;
    }

    .contact__form-fields {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    
        @media screen and (max-width: 767.98px) {
            margin-bottom: 25px;
        }
    }
    
    &__form-field {
        width: 100%;
        min-width: 430px;
        border: none;
        border-bottom: 1px solid var(--accent-color);
        outline: none;
    
        @media screen and (min-width: 768px) and (max-width: 1279.98px) {
            min-width: 410px;
        }
    
        @media screen and (max-width: 767.98px) {
            min-width: 265px;
        }
    
        &:last-child {
            resize: none;
        }
    
        &:not(:first-child) {
            margin-top: 15px;
        
            @media screen and (max-width: 767.98px) {
                margin-top: 25px;
            }
        }
    }
}

input::placeholder {
    color: rgba(171, 129, 108, 0.5);
}

textarea::placeholder {
    color: rgba(171, 129, 108, 0.5);
}

input:not(:placeholder-shown):required:invalid {
    border-color: red;
}

textarea:not(:placeholder-shown):required:invalid {
    border-color: red;
}