.header {
  padding-top: 7px;

  @media screen and (max-width: 767.98px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    padding-top: 27px;
  }
}
.header-container{
    display: flex;
    @media screen and (max-width: 767.98px) {
    justify-content: center;
    }
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    justify-content: space-between;
  }
}
.navigation {
  display: flex;
  align-items: center;
}

.logo_icon {
  width: 96px;
  height: 43px;
  fill: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    width: 96px;
  }
  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 71px;
  }
}

.site-nav {
  @media screen and (max-width: 1279px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    margin-left: 38px;
  }
}
.site-nav__item:not(:last-child){
  margin-right: 20px;
}

.site-nav__link {
  color: var(--primary-text-color);
  text-decoration: none;
}
