.program {
  padding-top: 64px;
  padding-bottom: 25px;
}

.program__container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.program__elements {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  & > h2 {
    margin-bottom: 10px;

    @media screen and (max-width: 767.98px) {
      text-align: center;
    }

    @media screen and (max-width: 1279.98px) {
      font-size: 24px;
      line-height: 2.71;
    }
  }
}

.program__elements--donuts {
  @media screen and (max-width: 767.98px) {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.program__text {
  margin-bottom: 10px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.program-list__item {
  margin-bottom: 10px;

  &::before {
    content: '>';
  }
}

@media screen and (max-width: 1279.98px) {
  #moreTextProgram {
    display: none;
  }
}

.text-show {
  cursor: pointer;
  font-family: var(--font-caveat-brush);
  color: var(--accent-color);
  background-color: transparent;
  font-size: 18px;
  line-height: 3.61;
  border: none;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-list__item {
  position: relative;
  margin-bottom: 60px;
  flex-basis: calc((100%) / 2);
  text-align: center;

  &:nth-child(1n) {
    transform: translateY(20%);
  }

  &:nth-child(2n) {
    transform: translateY(40%);
  }
}

.grid-list__picture {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;

  transform: translate(50%, -50%);
}

.grid-list__item-container {
  padding-top: 40px;
  position: relative;
  width: 142px;
  height: 142px;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 180px;
    padding-top: 50px;
  }
}

.grid-list__item-container > h3 {
  margin-bottom: 12px;
  font-size: 18px;

  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}

.grid-list__text {
  font-size: 14px;
  margin-bottom: 12px;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    margin-bottom: 17px;
  }
}

.grid-list__icon {
  fill: var(--program-icon-color);
  max-width: 25px;
  max-height: 20px;

  @media screen and (min-width: 1280px) {
    max-width: 32px;
    max-height: 25px;
  }
}
