.registration {
    margin-top: 68px;
    margin-bottom: 77px;
    @media screen and (min-width: 768px) and (max-width: 1279.99px) {
        margin-top: 40px;
        margin-bottom: 51px;
    }

    @media screen and (max-width: 767.98px) {
        margin-top: 30px;
        margin-bottom: 27px;
    }

    &__main-container {
        @media screen and (max-width: 767.98px) {
        padding-top: 15px;
        padding-bottom: 34px;
        padding-left: 12px;
        padding-right: 12px;
        background-color: #FFFFF9;
        box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
        border-radius: 150px 150px 0px 0px;
        }
    }

    &__title {
        font-family: Caveat Brush;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 271%;
        text-align: center;
    
        @media screen and (max-width: 767.98px) {
            margin-bottom: 11px;;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 822px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 35px;
        padding-bottom: 35px;
        background: #FFFFF9;
        box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
        border-radius: 150px;
        background-color: var(--text-white-color);
    
        @media screen and (min-width: 768px) and (max-width: 1279.99px) {
            max-width: 634px;
            padding-left: 35px;
        }
    
        @media screen and (max-width: 767.98px) {
            display: inherit;
            background: none;
            box-shadow: none;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &__label {
        margin-bottom: 13px;
        font-size: 18px;
        line-height: 1.2;
    
        @media screen and (max-width: 767.98px) {
            text-align: center;
        }
    }

    &__form {
        display: flex;
        @media screen and (max-width: 767.98px) {
            flex-direction: column;
        }

        & .button {
            cursor: pointer;
        }
        
        &-button {
            cursor: pointer;
            @media screen and (max-width: 767.98px) {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    &__form-fields {
        display: flex;
        flex-direction: column;
        margin-right: 25px;
    
        @media screen and (max-width: 767.98px) {
            margin-right: 0;
            margin-bottom: 25px;
        }
    }

    &__form-field {
        width: 100%;
        min-width: 234px;
        border: none;
        border-bottom: 1px solid var(--accent-color);
        outline: none;
    
        @media screen and (max-width: 767.98px) {
            max-width: 265px;
        }
    }

    &__form-field:not(:first-child) {
        margin-top: 15px;

        @media screen and (max-width: 767.98px) {
            margin-top: 25px;
        }
    }

    &__meta {
        align-items: center;
        margin-right: 30px;
        padding-top: 19px;
        padding-right: 30px;
        border-right: 1px solid rgba(171, 129, 108, 0.5);
        
        @media screen and (max-width: 767.98px) {
            border-bottom: 1px solid rgba(171, 129, 108, 0.5);
            border-right: none;
            margin-right: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 20px;        
        }
    
        &-date {
            font-weight: medium;
            font-size: 18px;
            line-height: 22px;
            text-align: right;
            margin-bottom: 30px;
        
            @media screen and (max-width: 767.98px) {
                text-align: center;
                margin-bottom: 25px;
            }
        }
    
        &-price {
            font-weight: medium;
            font-size: 18px;
            line-height: 22px;
            text-align: right;
        
            @media screen and (max-width: 767.98px) {
                text-align: center;
                margin-bottom: 0;
            }
        }
    }

    &__section {
        margin-top: 30px;
        margin-bottom: 9px;
    
        @media screen and (min-width: 768px) and (max-width: 1279.99px) {
            margin-top: 20px;
            margin-bottom: 18px;
        }
    
        @media screen and (max-width: 767.98px) {
            margin-top: 11px;
            margin-bottom: 0;
        }
    }
}
input {
    background-color: #FFFFF9;
}
input::placeholder {
    color: rgba(171, 129, 108, 0.5);
}

input:not(:placeholder-shown):required:invalid {
    border-color: red;
}